@import "tailwindcss";

@theme {
    --shadow-lg: 1px 3px 24px 0px;

    --breakpoint-xs: 32rem;

    --color-deep-forest-50: oklch(98.2% 0.014 155.6);
    --color-deep-forest-100: oklch(95.5% 0.030 159.1);
    --color-deep-forest-200: oklch(90.5% 0.053 160.6);
    --color-deep-forest-300: oklch(83.7% 0.088 162.0);
    --color-deep-forest-400: oklch(75.0% 0.118 162.8);
    --color-deep-forest-500: oklch(65.7% 0.121 163.2);
    --color-deep-forest-600: oklch(55.9% 0.104 163.6);
    --color-deep-forest-700: oklch(47.8% 0.085 164.9);
    --color-deep-forest-800: oklch(41.1% 0.067 167.2);
    --color-deep-forest-900: oklch(36.2% 0.056 168.4);
    --color-deep-forest-950: oklch(25.3% 0.036 170.8);
}

@layer base {
    body { @apply size-full; }

    /*Navigation Bar*/
    nav {
        @apply relative h-fit flex flex-row gap-y-2 items-center p-4
        bg-linear-180 from-90% from-white to-neutral-200
        justify-between xl:justify-around lg:flex-col xl:flex-row;

        /*Heading with menu button*/
        h1 {
            @apply font-bold text-2xl pb-0.5 text-nowrap
            hover:underline hover:underline-offset-4
            hover:text-deep-forest-700;
        }

        /*Transition*/
        #membership-button, li, #menu-button, h1 {
            @apply transition ease-linear duration-100
            cursor-pointer;
        }
        /* Active navigation drop down */
        .show {
            @apply absolute;
        }
        /*Navigation button container*/
        div {
            @apply items-center inline-flex justify-between
            lg:flex lg:gap-8;
            ul {
                @apply hidden lg:flex lg:divide-x-2 lg:divide-neutral-400 lg:divide-solid;
                li {
                    @apply px-4 cursor-pointer hover:text-deep-forest-700 hover:underline underline-offset-4;
                }
            }
            #menu-button {
                @apply z-1 p-2 lg:hidden font-bold xs:mr-4
                shadow-lg shadow-deep-forest-500/30 bg-deep-forest-600
                hover:bg-deep-forest-700;
                svg {
                    @apply size-6 invert;
                }
            }
            #membership-button {
                @apply h-10 text-nowrap bg-deep-forest-600 px-4 pt-1 pb-1.5 text-white
                shadow-lg shadow-deep-forest-500/30 font-bold
                hidden xs:block
                hover:shadow-deep-forest-500/80 hover:bg-deep-forest-700;
            }
        }
    }
    section {
        @apply h-256 bg-neutral-100;
    }
}

