@font-face {
	font-family: 'Mulish';
	src: url('./fonts/Mulish.ttf');
}

:root {
	--background: #EEEEEE;

	--color-primary: #29451a;
	--on-primary: #bdcfb4;

	--color-secondary: #1a2a48;
	--on-secondary: #b6c2d6;

	--unavailable: #b7c8cb;
	--on-unavailable: #1f2a2e;
}

button {
	border: none;
	padding: 0.5rem 0.75rem;
	font-weight: 700;
	font-size: 1rem;
	border-radius: 0.75rem;
	transition: box-shadow 0.25s ease-in-out;
	&:hover {
		cursor: pointer;
	}
}

.btn-primary {
	background: var(--color-primary);
	color: var(--on-primary);
	&:hover {
		box-shadow: 0 0.25rem 0.75rem 0.25rem var(--on-primary);
	}
}

.btn-secondary {
	background: var(--color-secondary);
	color: var(--on-secondary);
	&:hover {
		box-shadow: 0 0.25rem 0.75rem 0.25rem var(--on-secondary);
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background);
}

* {font-family: 'Mulish', sans-serif;}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	margin: 2rem 3rem 0 3rem;
	& a {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		& img {width: 1.2rem;}
		& header {
			color: var(--color-primary);
			line-height: 1.5rem;
			font-weight: bold;
			font-size: 2rem;
			padding: 0 0.5rem;
		}
	}
	& menu {
		display: flex;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0;
		gap: 2rem;
		& li {
			font-weight: 700;
			& a {
				font-size: 1rem;
				color: black;
			}
		}
		& li:hover, & li a:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}



@media all and (min-width: 1600px) {

}

@media all and (max-width: 1600px) {

}

@media all and (max-width: 1280px) {

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 600px) {

}