@font-face {
    font-family: Montserrat;
    src: url('./Montserrat.ttf');
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px clamp(8px, 8vw, 256px);
    height: 64px;
}

nav a img {
    height: 2.5rem;
}

#menu {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

#menu ul {
    display: inline-flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
}

#menu ul li {
    text-wrap: nowrap;
}

#contribute-button {
    border: none;
}

#menu ul li, #contribute-button {
    padding: 8px 8px;
    font-size: 1rem;
    font-family: Montserrat, serif;
    font-weight: bold;
}

#menu-button {
    display: none;

}